.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    background-color: white;
}

.image{
	height: 95px;
}
.footer{
	background-color: blue;
	color: orange;
}